<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>pfad</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<security-constraint>
		<display-name>pfad</display-name>
		<web-resource-collection>
			<web-resource-name>pfad</web-resource-name>
			<url-pattern>/faces/prot/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>gruppe</role-name>
			<role-name>leiter</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description>SSL</description>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/faces/login.xhtml</form-login-page>
			<form-error-page>/faces/login.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>Administrator</description>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<description>Gruppe</description>
		<role-name>gruppe</role-name>
	</security-role>
	<security-role>
		<description>Leiter</description>
		<role-name>leiter</role-name>
	</security-role>
	<welcome-file-list>
		<welcome-file>faces/index.xhtml</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/faces/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/faces/error.xhtml</location>
	</error-page>
</web-app>
